.logo{
    height: 70px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 20px;
    padding: 8.5px;
}
.header nav a:hover{
    background-color: orange;
}